[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pika = "==1.0.0"
pytest-benchmark = "*"

[dev-packages]
locust = "*"

[requires]
python_version = "3.9"
