[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest-benchmark = "*"
pytest-gevent = "*"
gevent-pika = "*"
tornado = "*"
pika = "==1.0.0"
pytest-asyncio = "*"
pytest-tornasync = "*"
pymongo = "*"
apscheduler = "*"

[dev-packages]
locust = "*"

[requires]
python_version = "3.9"
